{% extends 'abcpet_app/base.html' %}
{% load static %}

{% block content %}
<div class="password-reset-form">
  <h2>Restablecimiento de Contraseña</h2>
  <p>Ingrese su dirección de correo electrónico y le enviaremos instrucciones para restablecer su contraseña.</p>
  
  <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
      {{ form.email.label_tag }} <br>
      {{ form.email }}
    </div>
    
    <button type="submit" class="btn btn-primary">Enviar solicitud de restablecimiento de contraseña</button>
  </form>
</div>
{% endblock %}