{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Contraseña Restablecida</h2>
        <p class="text-center">Tu contraseña ha sido restablecida con éxito. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> con tu nueva contraseña.</p>
    </div>
</body>
</html>
